.home-container {
    margin: 170px 0px 25px 120px; 
}

.home-main-text {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #062847;
}

.home-secondary-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
}

.home-btn {
    margin-top: 50px;
}

.email {
    color: #1890FF;
}