.page-container {
    margin: 55px 0 55px 80px;
    width: 80%;
}

.page-search-card {
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
}

.page-search-form {
    padding-top: 65px;
    margin-left: 90px;
}

.page-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.form-input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    width: 670px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 20px;
}

.page-user-card {
    margin-top: 55px;
    height: 390px;
    background: #F5F5F5;
    border-radius: 8px; 
}

.page-user-info {
    display: grid;
    grid: "sidebar body" 1fr / auto 1fr;
    gap: 10px 8px;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 90px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
}

.user-image {
    grid-area: sidebar;

    & img {
        width: 284px;
        height: 280px;
    }
}

.row {
    grid-area: body;
}

.user-top-info {
    margin-left: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #595959;

    & span {
        padding-right: 20px;
    }
}

.user-info-card {
    margin-top: 45px;
    margin-left: 60px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 6px;
    width: 870px;
    height: 235px;

    & h1 {
        padding-top: 8px;
        padding-left: 14px;
        font-family: 'Roboto';
        font-style: bold;
        font-size: 20px;
        line-height: 28px;
        color: #1890FF;
    }
}

.user-data {
    display: grid;
    padding-left: 24px;
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #737373;

    & span {
        width: 100%;
    }

    & span:not(:first-child) {
        padding-top: 15px;
    }

    & strong {
        font-weight: 700;
    }
}

.btn-details {
    margin-top: 10px;
    margin-bottom: 30px;
}